<mat-card >
	<h4 class="scriptTextHeader">server.js</h4>
	<p>Файл сервера. Серверная функция вызывается когда загружается каждый фрейм основного файла приложения при перезагрузки его кнопкой, в которые загружаются два разных документа, один не подконтрольный сервисному рабочему, другой - подконтрольный, в которых расположены элементы изображения <span class="dark-purple">&#60;img src="/cacheStrategy"&#62;</span>. Часть определения сервера в <span class="dark-blue">Express.Js</span> опущена.</p>
	<app-code-block [context]="{header : 'Файл серверной функции', ext : 'server.js', backgroundColor : '#eeeeee'}" >
<span class="dark-grey">//Инициализируются глобальные серверные переменные</span>
<span class="dark-blue" >let lastUpdate = -Infinity, MAX_IMAGES = 50, imageNumber = 0 ;</span>
<span class="dark-grey">//Определение маршрутизации приложения, чей путь будет запрошен <br>элементом изображения с каждой страницы из двух фреймов</span>
<span class="dark-purple" >app.get(</span><span class="dark-green" >'/cacheStrategy'</span><span class="dark-lite" >, function(</span><span class="dark-red" >req, res</span><span class="dark-blue" >) &#123;</span>
<span class="dark-grey">//Запуск функции обратотки запроса маршрута</span>
   <span class="dark-blue" >serveImage(</span><span class="dark-red" >res</span><span class="dark-blue" >, 10000);
&#125;);</span>
<span class="dark-lite" >function</span> <span class="dark-blue" >serveImage(</span><span class="dark-red" >res, timeout</span><span class="dark-blue" >) &#123;
   let now = </span><span class="dark-purple" >Date</span><span class="dark-blue" >.now();</span>
<span class="dark-grey" >Условное выражение, определяющее возможность генерации нового имени изображения <br>, которое будет запрошено из папки на сервере, <br> а так же установка новой даты обновления картинки.</span>
   <span class="dark-blue" >if (now - lastUpdate > </span><span class="dark-red" >timeout</span><span class="dark-blue" >) &#123;
      imageNumber = (imageNumber + 1) % MAX_IMAGES;
      lastUpdate = </span><span class="dark-purple" >Date.</span><span class="dark-blue" >now();
   &#125;
   let imageName = </span><span class="dark-green" >'./random/picture-'</span> <span class="dark-blue" >+ (imageNumber + 1) + </span><span class="dark-green" >'.png'</span><span class="dark-blue" >; </span>
   <span class="dark-grey">Отправляем картинку клиенту (либо новую, <br>либо загруженную при первом запуске приложения в предварительном кэшировании)</span>
   <span class="dark-red" >response.</span><span class="dark-blue" >status(200).set(&#123;</span><span class="dark-green" >'Content-Type' : 'image'</span><span class="dark-blue" >&#125;).sendFile(imageName, &#123; root: </span><span class="dark-green" >'.'</span><span class="dark-blue" >&#125;);
&#125;; </span></app-code-block>
</mat-card>
